unsloth[cuda] @ git+https://github.com/unslothai/unsloth.git
unsloth_zoo
torch
xformers
trl
peft
accelerate
bitsandbytes
transformers>=4.37.2
datasets>=2.16.1

tqdm>=4.66.1
packaging

# vLLM dependencies
vllm
fastapi
uvicorn
pydantic
requests
python-dotenv
matplotlib
seaborn
openai
pandas
scikit-learn
python-dotenv
nltk>=3.8.1
rouge-score>=0.1.2
bert-score>=0.3.13
sentence-transformers>=2.2.2

